{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Article</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Article</li>
                    <li class="breadcrumb-item active">Creer</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                        {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}